.GalleryLoader {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.GalleryLoaderText {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #a9a9a9;
}
